.root {
    -fx-padding: 15;
    -fx-background-color: #f5f5f5;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
}

.label {
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 5;
    -fx-padding: 5 10;
}

.table-view {
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
}